<div class="col-md-2 sidebar">
  <div class="row">
    <label>Tìm kiếm: </label>
    <input type="text" class="form-control" />
  </div>
  <div class="row">
    <div ui-tree id="tree-root">
      <ol ui-tree-nodes ng-model="data">
        <li ng-repeat="node in data" collapsed="true" ui-tree-node ng-include="'/html/templates/unit_tree_node_template.html'"></li>
      </ol>
    </div>
  </div>
</div>
<div class="col-md-8">
  <div class="form-group" ng-if="!addingUnit && !addingStation">
    <button class="btn btn-primary" ng-click="addUnit()">Tạo đơn vị</button>
    <button class="btn btn-primary" ng-click="addStation()">Tạo trạm</button>
  </div>
  <div class="form-group" ng-if="addingUnit">
    <button class="btn btn-primary" disabled="disabled">Tạo đơn vị</button>
    <button class="btn btn-success" ng-click="confirmLocation()">Xác nhận</button>
    <button class="btn btn-default" ng-click="cancelAdding()">Hủy</button>
  </div>
  <div class="form-group" ng-if="addingStation">
    <button class="btn btn-primary" disabled="disabled">Tạo trạm</button>
    <button class="btn btn-success" ng-click="confirmLocation()">Xác nhận</button>
    <button class="btn btn-default" ng-click="cancelAdding()">Hủy</button>
  </div>
  
  <leaflet markers="markers" width="100%" height="700px" defaults="default" lf-center="center" events-broadcast="events"></leaflet>
</div>
<div class="col-md-2">
  <table class="table table-striped list-station">
    <thead>
      <tr>
        <th>Tên trạm</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="station in stations" >
        <td><a href="#/" ng-click="loadStationLoc(station)">{{station.name}}</a></td>
        <td><button class="btn btn-success" ng-click="addToSubscribe(station)" ng-disabled="subscribeList[station.id]"><span class="glyphicon glyphicon-plus-sign"></span></button></td>
      </tr>
    </tbody>
  </table>
  <hr/>
  <div class="subscribe-station">
    <h4>Theo dõi <a class="btn btn-default" ng-click="fitBound()"><span class="glyphicon glyphicon-eye-open"></span></a></h4>
    <p></p>
    <table class="table table-striped list-station">
    <thead>
      <tr>
        <th>Tên trạm</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="station in subscribeList" >
        <td><a href="#/" ng-click="loadStationLoc(station)">{{station.name}}</a></td>
        <td><button class="btn btn-danger" ng-click="removeFromSubscribe(station)"><span class="glyphicon glyphicon-remove-sign"></span></button></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>