<div>
  <input type="button" value="Creat Unit" class="btn btn-info" ng-click="createUnit()" style="margin-bottom: 10px" />
  <table class="table table-hover">
    <tr class="success">
      <th>STT</th>
      <th>Tên đơn vị</th>
      <th>Trực thuộc</th>
      <th>Tọa độ X</th>
      <th>Tọa độ Y</th>
      <th>Hình ảnh</th>
      <th>Chức năng</th>
    </tr>
    <tr ng-repeat="u in data" class="success" ng-click="detail(u)">
      <td>{{$index + 1}}</td>
      <td>{{u.name}}</td>
      <td>{{u.parentId}}</td>
      <td>{{u.latitude}}</td>
      <td>{{u.longitude}}</td>
      <td><img ng-src="{{u.avatar}}" width=40 height=40/></td>
      <td class="action">
        <input type="button" value="Edit" class="btn btn-info" ng-click="openEdit(u)" />
        <input type="button" value="Delete" class="btn btn-danger" ng-click="deleteUnit(u)" />
      </td>
    </tr>
  </table>
  <div class="pagingUnit">
    <uib-pagination total-items="totalItems" ng-model="currentPage" max-size ="maxSize"  boundary-links="true" ng-change= "setPage()" ></uib-pagination>
  </div>
  <input type="button" value="Creat Station" class="btn btn-info" ng-click="createStation()" style="margin-bottom: 10px" />
  <table class="table table-hover">
    <tr class="success">
      <th>STT</th>
      <th>Tên trạm</th>
      <th>Tọa độ X</th>
      <th>Tọa độ Y</th>
      <th>Chức năng</th>
    </tr>
    <tr ng-repeat='i in station' class="success">
      <td>{{$index + 1}}</td>
      <td>{{i.name}}</td>
      <td>{{i.latitude}}</td>
      <td>{{i.longitude}}</td>
      <td class="action">
        <input type="button" value="Edit" class="btn btn-info" ng-click="editStation(i)" />
        <input type="button" value="Delete" class="btn btn-danger" ng-click="deleteStation(i)" />
      </td>
    </tr>
  </table>
  <div class="pagingStation">
    <uib-pagination total-items="totalItemsStation" ng-model="currentPageStation" ng-change="pageChangedStation(i.unitId)" max-size ="maxSizeStation" boundary-links="true"></uib-pagination>
  </div>
</div>
