<div class="modal-header">
  <h3 class="modal-title">Tạo đơn vị</h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <label>Tên đơn vị</label>
    <input type="text" class="form-control" ng-model="unit.name" placeholder="Nhập tên đơn vị" />
  </div>
  <div class="form-group">
    <label>Đơn vị trực thuộc</label>
    <input type="text" class="form-control" ng-model="unit.parent" uib-typeahead="unit as unit.name for unit in searchUnits($viewValue)" typeahead-template-url="/html/templates/unit_search_result.html" />
  </div>
  <div class="form-group">
    <label for="lng">Kinh độ</label>
    <input ng-if="!createUn" type="number" class="form-control" id="lng" placeholder="Kinh độ" ng-disabled=false ng-model="unit.location.lng" />
  </div>
  <div class="form-group">
    <label for="lat">Vĩ độ</label>
    <input  type="number" class="form-control" id="lat" placeholder="Vĩ độ" ng-disabled=false ng-model="unit.location.lat" />
  </div>
  <div class="well">
    <label class="control-label">Avatar</label>
    <input type="file" ngf-select ng-model="unit.avatar" />
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>
