<div class="row" ng-if="sediting && sdeleting == false">
  <div class="lead">
    {{currentStation.name}}
  </div>
  <a class="thumbnail" ng-if="currentStation.avatar">
    <img ng-src="{{currentStation.avatar}}" />
  </a>
  <hr />
  <div>
    <button class="btn btn-primary btn-xs" ng-click="editStationInfo(currentStation)">Sửa</button>
    <button class="btn btn-primary btn-xs" ng-click="editStationLocation(currentStation)">Sửa tọa độ</button>
    <button class="btn btn-danger btn-xs" ng-click="deleteStationObj()">Xóa</button>
  </div>
</div>
<div ng-if="!sediting">
  <p>Hoàn tất sửa vị trí?</p>
  <button class="btn btn-default btn-xs" ng-click="updateStationLocation(currentStation.id)">OK</button>
  <button class="btn btn-default btn-xs" ng-click="cancelStationAction(currentStation)">Hủy</button>
</div>
<div ng-if="sdeleting">
  <p>Hoàn tất xoá đơn vị?</p>
  <button class="btn btn-success btn-xs" ng-click="deleteStation(currentStation)">OK</button>
  <button class="btn btn-danger btn-xs" ng-click="cancelStationAction(currentStation)">Hủy</button>
</div>
