<div class="row" ng-if="editing && deleting == false">
  <div class="lead">
    {{currentUnit.name}}
  </div>
  <a class="thumbnail" ng-if="currentUnit.avatar">
    <img ng-src="{{currentUnit.avatar}}" />
  </a>
  <hr />
  <div>
    <button class="btn btn-primary btn-xs" ng-click="editUnitInfo(currentUnit)">Sửa</button>
    <button class="btn btn-primary btn-xs" ng-click="editUnitLocation(currentUnit)">Sửa tọa độ</button>
    <button class="btn btn-danger btn-xs" ng-click="deleteUnitObj()">Xóa</button>
  </div>
</div>
<div ng-if="!editing">
  <p>Hoàn tất sửa vị trí?</p>
  <button class="btn btn-success btn-xs" ng-click="updateUnitLocation(currentUnit.id)">OK</button>
  <button class="btn btn-danger btn-xs" ng-click="cancelAction(currentUnit)">Hủy</button>
</div>

<div ng-if="deleting == true">
  <p>Hoàn tất xoá đơn vị?</p>
  <button class="btn btn-success btn-xs" ng-click="deleteUnit(currentUnit.id)">OK</button>
  <button class="btn btn-danger btn-xs" ng-click="cancelAction()">Hủy</button>
</div>
