<div class="">
  <a class="btn btn-link btn-xs" ng-if="node.children && node.children.length > 0" data-nodrag ng-click="load(this)">
    <span
      class="glyphicon"
      ng-class="{
      'glyphicon-chevron-right': collapsed,
      'glyphicon-chevron-down': !collapsed
      }">
    </span>
  </a>
  <a ng-if="node.children && node.children.length > 0" href="#/" ng-click="loadStationTable(node)">{{node.name}}</a>
  <a ng-if="!node.children || node.children.length <= 0" href="#/" ng-click="loadStationTable(node)" style="padding-left:28px;">{{node.name}}</a>
</div>
<ul ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
  <li ng-repeat="node in node.children" collapsed="true" ui-tree-node ng-include="'/html/templates/unit_tree_node_template.html'">
  </li>
</ul>