<a>
  <div>{{match.model.name}}</div>
  <div class="small text-muted">
    <span><span class="glyphicon glyphicon-home"></span></span>
    <span ng-repeat="ancestor in match.model.ancestors"><span class="glyphicon glyphicon-menu-right"></span> {{ancestor.name}}</span>
  </div>
</a>